.advanced-search-toggle {
  cursor: pointer;
}

.filter {
  margin-bottom: 150px;
}

.slider {
  margin-top: 7px;
  margin-bottom: 20px;
}

.price-range {
  .input-group {
    .input-group-addon {
      background: #fff;
    }
    .form-control {
      border-left: none;
      text-align: center;
    }
  }
}

.results {
  margin-top: 14px;
  .well {
    min-height: 150px;
  }
}
