.product-detail {
  .image-gallery {
    background-color: $lightColor2;
    border: 1px solid $lightColor;
    padding: 6px;
    padding-bottom: 0;
    & > .image {
      position: relative;
      margin-bottom: 6px;
      .expand {
        height: 41px;
        width: 41px;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        &:before {
          content: "";
          display: block;
          border-left: 41px solid transparent;
          border-top: 41px solid white;
          &:hover {}
        }
        .kowicon {
          position: absolute;
          top: 5px;
          right: 5px;
          color: $darkColor;
        }
      }
      img {
        width: 100%;
      }
    }
    .thumbnails {
      .thumb {
        .image {
          background-color: #fff;
          img {
            width: 100%;
            opacity: 0.65;
          }
        }
        .title {
          font-size: 0.85em;
        }
        &.active {
          .image img {
            border: 2px solid white;
            opacity: 1;
          }
        }
      }
    }
  }
}
