@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap";

@import "_kowloon-icons";
@import "_fonts";

$backgroundColor: #454545;
$textColor: #cecece;
$darkColor: #323232;

$sidebarBg: $darkColor;
$sidebarBgDark: #252525;
$sidebarInactive: #a2a2a2;
$sidebarActive: #ededed;
$sidebarActiveDark: #363636;

$dogColor: #ff6f9e;
$catColor: #8787ff;
$fishColor: #ffb93f;
$owlColor: #7bff81;
$mouseColor: #7be5ff;
$otherColor: #de6262;

$categories: dogs, cats, fish, birds, small_animals, other;
$category_colors: $dogColor, $catColor, $fishColor, $owlColor, $mouseColor, $otherColor;

$i: 1;
@each $class in $categories {
  .kowicon-#{$class} {
    color: nth($category_colors, $i);
  }
  $i: $i+1;
}

$sidebarWidth: 60px;
$sidebarExpandedWidth: 217px;
$sidebarMenuItemHeight: 52px;


body, html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $backgroundColor;
  padding-left: $sidebarWidth;
  color: $textColor;
  line-height: 1.7em;
  padding-bottom: 50px;
}

h1 {
  font-family: 'choplin', serif;
  font-weight: bold;
  color: #fff;
}

a {
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}

input.form-control {
  border-radius: 0;
  border: 2px solid #9a9a9a;
}

.btn {
  border-radius: 0;
  border: 2px solid;
  &.btn-dark {
    color: #fff;
    background-color: $darkColor;
    border-color: $darkColor;
    text-transform: uppercase;
    &:hover {
      background-color: lighten($darkColor, 5);
      border-color: lighten($darkColor, 5);
    }
  }
}

@import "layout/_sidebar";
@import "home/_home";
@import "general/_product-grid";
@import "general/_product";
