.big-search {
  margin: 40px 0;
  .input-group {
    &>*:not(.placeholder) {
      border-radius: 0;
      background: none;
      box-shadow: none;
      outline: none;
      border: none;
      border-bottom: 2px solid $darkColor;
    }
    .placeholder {
      color: $overlayAccent;
      font-weight: bold;
      font-size: 2.8em;
      position: absolute;
      top: 10px;
      margin-left: 20px;
      @media (max-width: 768px) { 
        font-size: 2em;
      margin-left: 10px;
      }
      span {
        color: $darkColor;
        position: relative;
        top: 0.2em;
      }
    }
    .input-group-addon {
      font-size: 2.2em;
      @media (max-width: 768px) { 
        font-size: 2em;
      }
    }
    .form-control {
      height: auto;
      @media (max-width: 768px) { 
        font-size: 2em;
      }
    }
  }
}

.big-search.big-search-dark {
  .form-control,
  .placeholder,
  .input-group-addon {
    color: #535353;
    font-weight: normal;
  }
}
