<jumbotron-slider slides="category.slides"></jumbotron-slider>

<div class="container container-category">

  <section class="breadcrumbs">
    <a class="logo kowicon-k"></a>
    <a class="tag tag-category">Dogs</a>
    <a class="tag">Splash 'n Fun</span>
  </section>

  <h1 class="text-uppercase">Dog articles</h1>

  <div class="filter filter-light">
    <h2 ng-click="filterCollapsed = !filterCollapsed" ng-init="filterCollapsed = true" class="advanced-search-toggle small-header">
      Filter
      <small>
        <span class="glyphicon glyphicon-triangle-bottom" ng-hide="filterCollapsed" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-triangle-right" ng-hide="!filterCollapsed" aria-hidden="true"></span>
      </small>
    </h2>

    <div class="filter-collapse" uib-collapse="filterCollapsed">

      <h3>By collection</h3>
      <label class="checkbox-inline" ng-repeat="collection in category.collections">
        <input type="checkbox" ng-model="collection.on" ng-change="category.checkChange()">{{collection.name}}
      </label>

      <h3>Price range</h3>

      <div class="row price-range">
        <div class="col-md-6">
          <slider class="slider-light" ng-model="category.filter.price" range="true" min="0" step="1" tooltip="hide" max="500" value="testOptions.value"></slider>
        </div>
        <div class="col-md-6">
          <div class="col-xs-5">
            <div class="input-group input-group-lg">
              <span class="input-group-addon">&euro;</span>
              <input type="text" ng-model="category.filter.price[0]" ng-value="category.filter.price[0] | number : 2" class="form-control">
            </div>
          </div>
          <div class="col-xs-2 text-center">
            <p class="h4">-</p>
          </div>
          <div class="col-xs-5">
            <div class="input-group input-group-lg">
              <span class="input-group-addon">&euro;</span>
              <input type="text" ng-model="category.filter.price[1]" ng-value="category.filter.price[1] | number : 2" class="form-control">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <hr>

  <div class="btn-group btn-sorting" uib-dropdown keyboard-nav>
    <button type="button" class="btn btn-dark" uib-dropdown-toggle>
      Sort by relevance <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu">
      <li role="menuitem"><a href="#">Price: low to high</a></li>
      <li role="menuitem"><a href="#">Price: high to low</a></li>
      <li role="menuitem"><a href="#">Latest</a></li>
      <li role="menuitem"><a href="#">Oldest</a></li>
    </ul>
  </div>

  <span class="pull-right">Dog items: <strong>5 of 44</strong></span>

  <div class="row">
    <div class="col-md-6 col-md-push-6">
      <div class="product product-featured">
        <div class="image">
          <img src="images/products/cooling_mat.jpg" alt="Cooling Mat">
          <ul class="colors">
            <li style="background: white;">White</li>
            <li style="background: black;">Black</li>
            <li style="background: blue;">Blue</li>
          </ul>
        </div>
        <div class="information">
          <a ui-sref="product" class="title">
            Cooling mat
          </a>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In congue, odio ut aliquam vulputate, lacus velit consequat lorem,
            at blandit odio justo elementum ipsum. Etiam gravida quam a ex feugiat, et fermentum justo viverra.
          </p>
          <span class="price">&euro; 15,49</span>
          <a ui-sref="product" class="btn btn-pink btn-more-info pull-right">Want to know more?</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-md-pull-6">
      <div class="row">
        <div class="col-md-6" ng-repeat="product in category.products | filter:category.collectionFilter | filter:category.priceFilter | limitTo:4:0">
          <div class="product" ng-class="{'multiple-images' : product.multipleImages}">
            <div class="image" style="background-image:url('images/products/cooling_mat.jpg')">
              <a ui-sref="product" class="overlay">
                <span class="kowicon-product"></span>
                view details
              </a>
              <div class="photo-count" ng-show="product.multipleImages">
                4
              </div>
              <ul class="colors" ng-show="product.colors">
                <li style="background: white;">White</li>
                <li style="background: black;">Black</li>
                <li style="background: blue;">Blue</li>
              </ul>
            </div>
            <div class="information">
              <a ui-sref="product" class="title">
                {{product.name}}
              </a>
              <span class="price">&euro; {{product.price}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3" ng-repeat="product in category.products | filter:category.collectionFilter | filter:category.priceFilter | limitTo:4:0">
      <div class="product" ng-class="{'multiple-images' : product.multipleImages}">
        <div class="image" style="background-image:url('images/products/cooling_mat.jpg')">
          <a ui-sref="product" class="overlay">
            <span class="kowicon-product"></span>
            view details
          </a>
          <div class="photo-count" ng-show="product.multipleImages">
            4
          </div>
          <ul class="colors" ng-show="product.colors">
            <li style="background: white;">White</li>
            <li style="background: black;">Black</li>
            <li style="background: blue;">Blue</li>
          </ul>
        </div>
        <div class="information">
          <a ui-sref="product" class="title">
            {{product.name}}
          </a>
          <span class="price">&euro; {{product.price}}</span>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- end-container -->
